<div class="contact">
    <h1>Binding Data with Component in Angular</h1>
    <h2>Binding Data Way</h2>
    <button mat-button color="white" id="addnew"  routerLink="/input" ><mat-icon>input</mat-icon>Input</button>
    <button mat-button color="white" id="addnew"  routerLink="/viewchild" ><mat-icon>view_stream</mat-icon>ViewChild</button>
    <button mat-button color="white" id="addnew"  routerLink="/input" ><mat-icon>all_out</mat-icon>Output</button>
    <button mat-button color="white" id="addnew"  routerLink="/service" ><mat-icon>room_service</mat-icon>Service</button>
</div>
